<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
         include ../static/style.css
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/service">service</a></li>
        </ul>
    </nav>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="enter name">
        <input type="text" name="age" placeholder="enter age">
        <button>click</button>
    </form>
</body>

</html>